</head>

<a name="blog" id=blog></a>
<div class="container-fluid bg-black ">
    <div class="container">
        <div class="text-center text-white py-2">
            <h2 class="mt-1">Blog Informativo - Aprende con nosotros</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5 shadow-sm ">
                    <img src="img/a.png" class="img-fluid" style="height: 280px;" />

                    <div class="card-body">
                        <div class="card-title">
                            <h2>This is the blog title</h2>
                        </div>
                        <div class="card-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Deleniti corporis quis ab. Exercitationem et quibusdam
                                impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                                maxime facere, quod harum aliquid in...
                            </p>
                        </div>
                        <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5 shadow-sm">
                    <img src="img/b.png" class="img-fluid" style="height: 280px;" />

                    <div class="card-body">
                        <div class="card-title">
                            <h2>This is the blog title</h2>
                        </div>
                        <div class="card-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Deleniti corporis quis ab. Exercitationem et quibusdam
                                impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                                maxime facere, quod harum aliquid in...
                            </p>
                        </div>
                        <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5 shadow-sm">
                    <img src="img/c.png" class="img-fluid" style="height: 280px;" />

                    <div class="card-body">
                        <div class="card-title">
                            <h2>This is the blog title</h2>
                        </div>
                        <div class="card-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Deleniti corporis quis ab. Exercitationem et quibusdam
                                impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                                maxime facere, quod harum aliquid in...
                            </p>
                        </div>
                        <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read More</a>
                    </div>
                </div>
            </div>

            {{!-- <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5 shadow-sm">
                    <img src="img/d.jpg" class="img-fluid" style="height: 280px;" />

                    <div class="card-body">
                        <div class="card-title">
                            <h2>This is the blog title</h2>
                        </div>
                        <div class="card-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Deleniti corporis quis ab. Exercitationem et quibusdam
                                impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                                maxime facere, quod harum aliquid in...
                            </p>
                        </div>
                        <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5 shadow-sm">
                    <img src="img/e.jpg" class="img-fluid" style="height: 280px;" />

                    <div class="card-body">
                        <div class="card-title">
                            <h2>This is the blog title</h2>
                        </div>
                        <div class="card-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Deleniti corporis quis ab. Exercitationem et quibusdam
                                impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                                maxime facere, quod harum aliquid in...
                            </p>
                        </div>
                        <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5 shadow-sm">
                    <img src="img/f.jpg" class="img-fluid" style="height: 280px;" />

                    <div class="card-body">
                        <div class="card-title">
                            <h2>This is the blog title</h2>
                        </div>
                        <div class="card-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Deleniti corporis quis ab. Exercitationem et quibusdam
                                impedit? Sint vitae labore nulla sit, dignissimos non tempore,
                                maxime facere, quod harum aliquid in...
                            </p>
                        </div>
                        <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read More</a>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
</div>