<div class=" bg-black">
    <h2 class=" bg-warning text-black text-center py-3 "><b>Se침ales de Trading</b></h2>
    <div class="container ">
        <p class="text-white text-center" style="font-size: 1.5rem;">丘멆잺Recomendaci칩nes para operar.</p>
        <div class="card  bg-primary|secondary|success|danger|warning|info|light|dark|link">
            {{!-- <img class="card-img-top" src="holder.js/100px180/" alt=""> --}}
            <div class="card-body"><b>
                    {{!-- <h4 class="card-title text-center">丘멆잺Recomendaci칩nes para operar .</h4> --}}
                    <p class="card-text">
                    <ul>
                        <li>
                            <p>1. Tener criterio propio al leer una se침al, seg칰n su conocimiento eval칰ar si es viable o
                                no entrar en dicha operaci칩n.</p>
                        </li>

                        <li>
                            <p>2. Analizar la estrategia de cada trader , con la pr치ctica y resultados podr치s incluir o
                                no estas t칠cnicas en tu estrategia personal.</p>
                        </li>

                        <li>
                            <p>3. Lo m치s peligroso de todo es que al obtener muchas entradas en este canal, desees
                                entrar en todas las se침ales, y no <mark> diversificar el capital o liquidez... NUNCA SE
                                    INVIERTE EL 100% </mark>...
                                deben entrar con poco porcentaje y paciencia.</p>
                        </li>
                    </ul>
                    <p>游리 Operaciones Abiertas (Entrar en el rango).</p>
                    <p>游리游 Operacion Protegida al Precio de Entrada </p>
                    <p>游릭Operaciones Ganadas.</p>
                    <p>游댮Operaciones Perdidas.</p>
                    <p>游댖Operaciones Cerradas al Precio de Entrada.</p>

                </b>
            </div>
        </div>

        <div class="news-cards">
            {{!-- <div class="container"> --}}

                <div class="row">
                    <div class="col-md">
                        <div class="card  text-white mx-auto my-4 border-0 bg-black ">
                            <a href="/tradinglatino" class="mx-auto"><img src="img/latino.jpg"
                                    class="rounded-circle  card-img-top p-3 border border-5 border-white" alt="..."
                                    style="max-width: 220px;" /></a>

                            <h5 class="card-title  text-center letra mt-3">
                                <strong>Trading Latino</strong>
                            </h5>
                            <div class="card-body bg-black rounded " style="min-width: auto;">
                                <p class="card-text text-white letra" style="min-width: auto;">
                                    Estas se침ales se operan en Spot, tienes menos riesgos y sus ganancias son ventajosas
                                    en graficos diario y semanal.
                                </p>
                                <a href="/tradinglatino" class="btn btn-primary letra text-white "
                                    style="font-size: 1rem;">Leer
                                    m치s</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="card mx-auto my-4 border-0  bg-black" style="min-width: auto;">
                            <a href="/binancekiller" class="mx-auto"><img src="img/binancekiller.jpg"
                                    class=" rounded-circle  border border-5 border-white mx-auto card-img-top p-3 "
                                    alt=" ..." style="max-width: 220px;" /></a>

                            <h5 class="card-title text-white text-center letra mt-3">
                                <strong>Binance Killer</strong>
                            </h5>
                            <div class=" card-body bg-black rounded" style="min-width: auto;">
                                <p class="card-text text-white letra ">
                                    Asesinos se encuentra en el top de se침ales en Telegram. Estas se침ales se operan
                                    apalancadas, con excelente rendimiento. Tambi칠n se pueden abrir en spot.
                                </p>
                                <a href="/binancekiller" class="btn btn-primary text-white"
                                    style="font-size: 1rem;">Leer
                                    m치s</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="card  text-white mx-auto my-4 border-0 bg-black" style="min-width: auto;">
                            <a href="/bitcoinbullet" class="mx-auto"><img src="img/bitcoinbullet.jpg"
                                    class=" rounded-circle mx-auto card-img-top p-3 border border-5 border-white mx-auto"
                                    alt=" ..." style="max-width: 220px;" /></a>

                            <h5 class="card-title mt-3 text-center letra">
                                <strong>Bitcoin Bullet</strong>
                            </h5>
                            <div class=" card-body bg-black rounded" style="min-width: auto;">
                                <p class="card-text text-white letra ">
                                    Se침ales para operar apalancadas con buen rendimiento, debes tener criterio para
                                    cerrarla en alguno de los objetivos. Tambi칠n se puede operar en spot.
                                </p>
                                <a href="/senales" class="btn btn-primary text-white" style="font-size: 1rem;">Leer
                                    m치s</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="card  text-white mx-auto my-4 border-0 bg-black" style="min-width: auto;">
                            <a href="/russian" class="mx-auto"><img src="img/russian.jpg"
                                    class=" rounded-circle mx-auto card-img-top  border border-5 border-white mx-auto    "
                                    alt=" ..." style="max-width: 220px;" /></a>

                            <h5 class="card-title text-center letra mt-3">
                                <strong>Russian</strong>
                            </h5>
                            <div class=" card-body bg-black rounded" style="min-width: auto;">
                                <p class="card-text text-white letra ">
                                    Uno de nuestros ultimos traders en ingresar en nuestra lista de se침ales, puedes
                                    apalancar sus se침ales.
                                </p>
                                <a href="/senales" class="btn btn-primary text-white" style="font-size: 1rem;">Leer
                                    m치s</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{!--
            </div> --}}
        </div>
        {{>resumen_senales}}
    </div>
</div>