{{!-- aqui --}}

<div class="container  bg-white py-5 ">

    <h2 class="bg-white text-black text-center py-2"><b>Resumen de Senales</b></h2>
    <div class="accordion accordion-flush " id="accordionFlushExamplebk">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingbk">
                <button class="accordion-button collapsed bg-primary  text-white " type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapsebk" aria-expanded="false"
                    aria-controls="flush-collapsebk">
                    Resumen Binance Killers
                </button>
            </h2>
            <div id="flush-collapsebk" class="accordion-collapse collapse" aria-labelledby="flush-headingbk"
                data-bs-parent="#accordionFlushExamplebk">
                <div class="accordion-body">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <a class="accordion-button collapsed" type="button" href="img/bk_01.jpg">
                                    Mes de Enero
                                </a>
                            </h2>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <a class="accordion-button collapsed" type="button" href="img/bk_02.jpg">
                                    Mes de Febrero
                                </a>
                            </h2>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <a class="accordion-button collapsed" type="button" href="img/bk_03.jpg">
                                    Mes de Marzo
                                </a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingruss">
                <button class="accordion-button collapsed bg-primary  text-white " type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseruss" aria-expanded="false"
                    aria-controls="flush-collapseruss">
                    Resumen Fed. Russian Insiders
                </button>
            </h2>
            <div id="flush-collapseruss" class="accordion-collapse collapse" aria-labelledby="flush-headingruss"
                data-bs-parent="#accordionFlushExampleruss">
                <div class="accordion-body">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <a class="accordion-button collapsed" type="button" href="img/russ_03.jpg">
                                    Mes de Marzo
                                </a>
                            </h2>
                        </div>
                        {{!-- <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    Pago desde Billetera de Fondos Binance (Binance Pay)
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Correo: raquelajmj@gmail.com
                                </div>
                            </div>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingbb">
                <button class="accordion-button collapsed bg-primary  text-white " type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapsebb" aria-expanded="false"
                    aria-controls="flush-collapsebb">
                    Resumen Bitcoins Bullets
                </button>
            </h2>
            <div id="flush-collapsebb" class="accordion-collapse collapse" aria-labelledby="flush-headingbb"
                data-bs-parent="#accordionFlushExamplebb">
                <div class="accordion-body">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <p class="accordion-button collapsed" type="button">
                                        No disponible
                                    </p>
                                </h2>
                            </div>
                        </div>
                        {{!-- <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    Pago desde Billetera de Fondos Binance (Binance Pay)
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Correo: raquelajmj@gmail.com
                                </div>
                            </div>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingtl">
                <button class="accordion-button collapsed bg-primary  text-white " type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapsetl" aria-expanded="false"
                    aria-controls="flush-collapsetl">
                    Resumen Trading Latino
                </button>
            </h2>
            <div id="flush-collapsetl" class="accordion-collapse collapse" aria-labelledby="flush-headingtl"
                data-bs-parent="#accordionFlushExamplebb">
                <div class="accordion-body">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <p class="accordion-button collapsed" type="button">
                                    No disponible
                                </p>
                            </h2>
                        </div>
                        {{!-- <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    Pago desde Billetera de Fondos Binance (Binance Pay)
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Correo: raquelajmj@gmail.com
                                </div>
                            </div>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>