<!-- SERVICIOS -->

<a name="servicios" id=servicios></a>
<div class=" py-5 ">
    <h2 class="bg-white text-black text-center py-2"><b>Nuestros Servicios</b></h2>
    <p class="container py-1 letra"> En cripto aprendes encontraras una variedad de soluciones, con nuestra experiencia te ayudaremos a ser rentable en este  mundo de criptomonedas.
    Aprenderas nuestros métodos y pondrás en práctica estrategias  que nos han funcionado durante nuestra trayectoria. No solo aprenderás trading,  Tambien encontraras talleres sobre remesas y tips prácticos.
    </p>

    <div class="contenedor-cards1">
        <div class="news-cards">

            <div class="container">
                <div class="row">

                    <div class="col">
                        <div class="card  text-white mx-auto my-4 border-0 tarjetas ">
                            <a href="/trading" class="mx-auto"><img src="img/19.png" class="rounded  card-img-top p-3"
                                    alt="..." style="max-width: 220px;"></a>

                            <h5 class="card-title text-black text-center">Curso de Trading</h5>
                            <div class="card-body bg-black rounded ">
                                <p class="card-text text-white">¡Invierte en tus conocimientos! Aprende todo lo que necesitas saber para operar en el mercado de las criptos con asesoría ilimitada.</p>
                                <a href="trading" class="btn btn-primary">Leer más</a>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card mx-auto my-4 border-0 tarjetas">
                            <a href="/senales" class="mx-auto"><img src="img/20.png" class=" rounded mx-auto card-img-top p-3"
                                    alt=" ..." style="max-width: 220px;"></a>

                            <h5 class="card-title text-black text-center">Señales para Operar</h5>
                            <div class=" card-body bg-black rounded">

                                <p class="card-text text-white ">¡No hagas trading solo! Membresía VIP por 30 días para obtener una recopilación de las mejores señales del mercado de criptomonedas. </p>
                                <a href="/senales" class="btn btn-primary">Leer más</a>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card mx-auto my-4 border-0 tarjetas">
                            <a href="#" class="mx-auto"><img src="img/21.png" class="rounded mx-auto card-img-top  p-3"
                                    alt=" ..." style="max-width: 220px;"></a>

                            <h5 class="card-title text-black text-center">Remesas</h5>
                            <div class=" card-body bg-black rounded">
                                <p class="card-text text-white ">¡Hazlo tú mismo! Aprende a enviar tu dinero desde cualquier país a otro, convirtiendo tu dinero en USDT de forma rápida y segura.</p>
                                <a  class="btn btn-danger">Proximamente</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>