{{>navbar}}
<style>
    body {
        background-color: black;
    }
</style>
{{!-- Stilo datatable --}}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<div class="container">
    <img src="img/binancekiller.jpg" alt="" class="mx-auto" style="max-width:20rem;">
</div>


<div class="container w-full md:w-4/5 xl:w-3/5  mx-auto px-2 mb-4">
    <div class="bg-green-400 bg-opacity-100 text-gray-100 text-center py-3">
        <p class="text-xl"> Senales Binance Killers</p>
    </div>
    <div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
        <table id="binance_killers" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
            <thead>
                <tr class="bg-indigo-400 bg-opacity-100 text-white">
                    <th data-priority="1">ID</th>
                    <th data-priority="2">Senal</th>
                    <th data-priority="3">Apalancamiento</th>
                    <th data-priority="4">Entrada</th>
                    <th data-priority="5">Corto</th>
                    <th data-priority="6">Medio</th>
                    <th data-priority="7">Largo</th>
                    <th data-priority="8">Stop</th>
                    <th data-priority="9">Link</th>
                    <th data-priority="10">Resultado</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>