{{>navbar}}

<div class="container-fluid bg-black py-4  ">
    <div class=" mx-auto d-flex justify-content-center">
        <img class="mb-3" src="img/tradinglvl1.jpg" alt="" style="width: 400px;">
    </div>
    
    <div class="textos">
        <div class="texto1 container text-white">
            <h4 class="text-center fw-bold my-2 ">  ¡Aprende ya sobre Trading!</h4> 
            
            <p class="letra"> Inscríbete HOY en el renovado y actualizado curso de Trading <b> ANALISIS DE MERCADO </b> y comienza a analizar las graficas como un profecional,
            Serás capaz de entender el movimiento del mercado y gestionar tus propios análisis técnicos con la guía de tu asesor.</p>
            
            

        <p class="danger letra">Curso Analisis Tecnico por tan solo <button class="btn btn-danger btn-block px-1 letra">$45 USD</button></p>
            
            
        </div>
    </div>
</div>

<section class="container ">
    <div class="columna1">
        <div class="container">
            <div class="row d-flex flex-column">
                <div class="col">
                    <div class="accordion accordion-flush " id="accordionFlushExamplezero">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingzero">
                                <button class="accordion-button collapsed bg-primary  text-white mt-5" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapsezero" aria-expanded="false"
                                    aria-controls="flush-collapsezero">
                                    Informacion de Pago
                                </button>
                            </h2>
                            
                            
                            <div id="flush-collapsezero" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingzero" data-bs-parent="#accordionFlushExamplezero">
                                <div class="accordion-body">





                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                                    aria-expanded="false" aria-controls="flush-collapseOne">
                                                    Bancos Venezolanos
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingOne"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body"> Escribenos por Whatsapp para solicitud de info
                                                    <div class="text-center letra mt-4 "> 
                                                        <a href="https://wa.me/message/TPZZ36SKBAC5J1" target="_blank"   class="btn btn-success text-center p-3 target="_blank""><i class="fab fa-whatsapp"></i> Contactar por Whatsapp</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                                    aria-expanded="false" aria-controls="flush-collapseTwo">
                                                    Pago desde Billetera de Fondos Binance (Binance Pay)
                                                </button>
                                            </h2>
                                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingTwo"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    Correo: raquelajmj@gmail.com
                                                </div>
                                            </div>
                                        </div>
                                        
                                        {{!--
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingThree">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                                    aria-expanded="false" aria-controls="flush-collapseThree">
                                                    Pago Movil
                                                </button>
                                            </h2>
                                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingThree"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">Placeholder content for this accordion,
                                                    which is intended to demonstrate the
                                                    <code>.accordion-flush</code> class. This is the third item's
                                                    accordion body. Nothing more exciting
                                                    happening here in terms of content, but just filling up the space to
                                                    make it look, at least at first
                                                    glance, a bit more representative of how this would look in a
                                                    real-world application.
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingfour">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#flush-collapsefour"
                                                    aria-expanded="false" aria-controls="flush-collapsefour">
                                                    Criptomoneda USDT
                                                </button>
                                            </h2>
                                            <div id="flush-collapsefour" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingfour"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">Placeholder content for this accordion,
                                                    which is intended to demonstrate the
                                                    <code>.accordion-flush</code> class. This is the third item's
                                                    accordion body. Nothing more exciting
                                                    happening here in terms of content, but just filling up the space to
                                                    make it look, at least at first
                                                    glance, a bit more representative of how this would look in a
                                                    real-world application.
                                                </div>
                                            </div>
                                        </div> --}}
                                        
                                    </div>
                                </div>
                            </div>
                        </div> 

                    
                        <div class="col">
                            <div class="card-header bg-black text-light mt-5 "  >
                                   <div class="text-center text-white letra">Enviar comprobante de Pago</div>
                            </div>
                            
                            <div class="card-body border bg-light">
                                 
                                
                                <form action="/upload" method="POST" enctype="multipart/form-data" id="formSubir">
                                    <div class="mb-3">
                                        <input type="text" name="nombre" class="form-control "
                                            placeholder="Nombres Completo" required>
                                    </div>


                                    <div class="mb-3">
                                        <input type="email" name="correo" class="form-control " placeholder="Correo "
                                            required>
                                    </div>



                                    <select name="seleccion" class="form-select mb-3"
                                        aria-label="Default select example" required>
                                        <option disabled selected>Metodo de Pago?</option>
                                        <option value="Transferencia Bancaria">1. Transferencia Bancaria</option>
                                        <option value="Pago Movil">2. Pago Movil</option>
                                        <option value="USDT cripto">3. USDT (criptomoneda) </option>
                                    </select>

                                    <div class="mb-3">
                                        <input type="file" name="image" class="form-control" id="inputFile">
                                    </div>

                                    <progress id="progressBar" value="0" max="100" class="container"> style="-webkit-appearance: none;"  </progress>

                                    <div class="mb-3 text-black mx-auto px-4">
                                        <input id="phone" name="phone" type="tel" placeholder="Telefono"
                                            class="form-control" style="with:300px;" required>
                                        <span id="valid-msg" class="hide"></span>
                                        <span id="error-msg" class="hide"></span>
                                    </div>

                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="" id="exampleCheck1" required>
                                        <label class="form-check-label" for="exampleCheck1">Acepto los
                                            Terminos</label>
                                    </div>

                                    <div class="mb-3">
                                        <button class="btn btn-danger btn-block px-5" type="submit">
                                            Enviar
                                        </button>
                                    </div>

                                    {{!-- <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                            role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 75%"></div>
                                    </div> --}}



                                </form>
                                
                                <div class="text-center"> 
                                    <a href="https://wa.me/message/TPZZ36SKBAC5J1" target="_blank"   class="btn btn-success text-center p-3 target="_blank""><i class="fab fa-whatsapp"></i> Contactar por Whatsapp</a>
                                </div>
                            </div>
                        </div>



                    </div>








</section>