<div class="container-fluid bg-black py-4  ">
    <div class=" mx-auto d-flex justify-content-center">
        <img class="mb-3" src="img/50.png" alt="" style="width: 400px;">
    </div>
    
    <div class="textos">
        <div class="texto1 container">
            <h4 class="text-center fw-bold text-white"> !ENHORABUENA! Tu registro se ha completado con Exito</h4> 
            
            <p class="text-white"> <i class="far fa-check-square"></i> Te notificaremos la programacion de nuestro proximo taller.</p>
            <!--<p class="text-white"> <i class="far fa-check-square"></i> Para tener acceso a nuestras señales gratuitas entra en el siguite link <a href="/index" class="btn btn-primary my-3">ir a Señales</a></p> -->
            <p class="text-white"> <i class="far fa-check-square"></i> Siguenos para que puedas recibir informacion en tiempo real. <a href="https://instagram.com/criptoaprende_75?utm_medium=copy_link" target="_blank" class="btn btn-danger my-3"><i
                    class="fab fa-instagram"></i> cripto_aprende75</a></p>
        </div>
    </div>
</div>





  