{{>navbar}}
<style>
    body {
        background-color: black;
    }
</style>
{{!-- Stilo datatable --}}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<div class="container">
    <img src="img/latino_4h.png" alt="" class="mx-auto" style="max-width:px;">
</div>

<div class="container w-full md:w-4/5 xl:w-3/5  mx-auto px-2 mb-4">
    <div class="bg-green-400 bg-opacity-100 text-gray-100 text-center py-3">
        <p class="text-xl"> Senales Trading Latino Grafico 4h </p>
    </div>
    <div id='recipients' class="p-2 mt-6 lg:mt-0 rounded shadow bg-white">
        <table id="latino_4h" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
            <thead>
                <tr class="bg-indigo-400 bg-opacity-100 text-white">
                    <th data-priority="1">ID</th>
                    <th data-priority="2">Senal</th>
                    <th data-priority="3">Entrada</th>
                    <th data-priority="4">Inversion</th>
                    <th data-priority="5">Stop</th>
                    <th data-priority="6">Link</th>
                    <th data-priority="7">Resultado</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>