{{>navbar}}

<style>
    body {
        background-color: black;
    }
</style>






<div class="container text-white mb-5">
    <h2 class="my-3">Señales Trading Latino</h2>

    <p class="container py-1 letra"> En cripto aprendes encontraras una variedad de soluciones, con nuestra experiencia
        te ayudaremos a ser rentable en este mundo de criptomonedas.
        Aprenderas nuestros métodos y pondrás en práctica estrategias que nos han funcionado durante nuestra
        trayectoria. No solo aprenderás trading, Tambien encontraras talleres sobre remesas y tips prácticos.
    </p>
    <div class="contenedor-cards1">
        <div class="news-cards">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card-black  text-white mx-auto my-4 border-0 tarjetas ">
                            <a href="/tradinglatinohold" class="mx-auto"><img src="img/latino_semanal.png"
                                    class="rounded-circle  card-img-top mb-2 border border-5 border-warning" alt="..."
                                    style="max-width: ;"></a>
                            <h5 class=" text-center mt-3"> <b>Acumular 3-6 Meses (Analisis Grafico
                                    Semanal)</b>
                            </h5>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card-black mx-auto my-4 border-0 tarjetas">
                            <a href="/tradinglatino1d" class="mx-auto"><img src="img/latino_diario.png"
                                    class=" rounded-circle mx-auto card-img-top mb-2 border border-5 border-primary"
                                    alt=" ..." style="max-width: "></a>

                            <h5 class=" text-center mt-3"> <b>Trade para 1-2 Semanas (Analisis Grafico
                                    Diario)</b>
                            </h5>

                        </div>
                    </div>


                    <div class="col">
                        <div class="card-black mx-auto my-4 border-0 tarjetas">
                            <a href="tradinglatino4h" class="mx-auto"><img src="img/latino_4h.png"
                                    class="rounded-circle mx-auto card-img-top  mb-2 border border-5 border-success"
                                    alt=" ..." style="max-width: "></a>

                            <h5 class=" text-center mt-3"> <b>Trade para 24-48h (Analisis Grafico
                                    4h)</b>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>