{{>navbar}}

<link rel="stylesheet" href="../css/marketing2.css">

<link rel="stylesheet" href="../css/style.css">

<!-- favicon -->
<link rel="icon" href="../img/faviconcripto2.png" type="image/png" />
 
 
<section class="bloque1">
    <!-- particles.js container -->
    <div id="particles-js"></div>



    <div class="flex1">
        <div class="titulo-negocioremesas">
            <h2> Trading Nivel III</h2>

            <p class="letra">Diversifica tu capital y resguarda tu liquidez.</p> <br>

            <p class="contenido-negocioremesas letra">Crea y desarrolla estrategias para dividir el capital de tu cartera.
            Aprenderás con cuanto porcentaje de tu capital es recomendable invertir, cuanto porcentaje es bueno dejar para futuros, staking y nft.</p>
        </div>
    </div>

    <div class="flex2">
        <img src="../img/tradinglvl3.jpg" alt=""> 
    </div>

</section>

<div class="slider-section">
    <div class="slider-contenedor">

        <section class="contenido-slider">
            <div class="contenedor-slider-interno">
                <img src="../img/icon-slider1.png" alt="">
                <h2>Asesoria ilimitada</h2>
            </div>
            <p class="contenedor-slider-parrafo">
                Comunicate con nuestro asesor para consultas en vivo dentro de nuestros horarios
            </p>
        </section>


        <section class="contenido-slider">
            <div class="contenedor-slider-interno">
                <img src="../img/icon-slider2.png" alt="">
                <h2>Acceso ilimitado</h2>
            </div>
            <p class="contenedor-slider-parrafo">
                Accede en linea a todo momento a nuestras capacitaciones en tu carpeta personal
            </p>
        </section>


        <section class="contenido-slider">
            <div class="contenedor-slider-interno">
                <img src="../img/icon-slider3.png" alt="">
                <h2>Acceso actualizaciones</h2>
            </div>
            <p class="contenedor-slider-parrafo">
                Te mantenemos informado de los nuevos metodos mas eficiente para mejorar tu negocio
            </p>
        </section>


        <section class="contenido-slider">
            <div class="contenedor-slider-interno">
                <img src="../img/icon-slider1.png" alt="">
                <h2>Asesoria ilimitada</h2>
            </div>
            <p class="contenedor-slider-parrafo">
                Comunicate con nuestro asesor para consultas en vivo dentro de nuestros horarios
            </p>
        </section>


        <section class="contenido-slider">
            <div class="contenedor-slider-interno">
                <img src="../img/icon-slider2.png" alt="">
                <h2>Acceso ilimitado</h2>
            </div>
            <p class="contenedor-slider-parrafo">
                Accede en linea a todo momento a nuestras capacitaciones en tu carpeta personal
            </p>
        </section>


        <section class="contenido-slider">
            <div class="contenedor-slider-interno">
                <img src="../img/icon-slider3.png" alt="">
                <h2>Acceso actualizaciones</h2>
            </div>
            <p class="contenedor-slider-parrafo">
                Te mantenemos informado de los nuevos metodos mas eficiente para mejorar tu negocio
            </p>
        </section>

        <section class="contenido-slider">
            <div class="contenedor-slider-interno">
                <img src="../img/icon-slider1.png" alt="">
                <h2>Asesoria ilimitada</h2>
            </div>
            <p class="contenedor-slider-parrafo">
                Comunicate con nuestro asesor para consultas en vivo dentro de nuestros horarios
            </p>
        </section>


        <section class="contenido-slider">
            <div class="contenedor-slider-interno">
                <img src="../img/icon-slider2.png" alt="">
                <h2>Acceso ilimitado</h2>
            </div>
            <p class="contenedor-slider-parrafo">
                Accede en linea a todo momento a nuestras capacitaciones en tu carpeta personal
            </p>
        </section>


        <section class="contenido-slider">
            <div class="contenedor-slider-interno">
                <img src="../img/icon-slider3.png" alt="">
                <h2>Acceso actualizaciones</h2>
            </div>
            <p class="contenedor-slider-parrafo">
                Te mantenemos informado de los nuevos metodos mas eficiente para mejorar tu negocio
            </p>
        </section>

        <section class="contenido-slider">
            <div class="contenedor-slider-interno">
                <img src="../img/icon-slider1.png" alt="">
                <h2>Asesoria ilimitada</h2>
            </div>
            <p class="contenedor-slider-parrafo">
                Comunicate con nuestro asesor para consultas en vivo dentro de nuestros horarios
            </p>
        </section>
    </div>
</div>


<section class="bloque2">
    <div class="contenedor">

        <div class="contenido">
            <h3><strong>Diversificacion de Capital </strong></p>



            <div class="video">
                <iframe class="resolucion-video" src="https://www.youtube.com/embed/WXhe4fMiTQ4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>


            <h3><strong>¡Si viste nuestro video sabrás que este nivel esta genial</strong>!</h3>
            <p>Es crucial que aprendas cómo manejar tu dinero en el trading, quedarse sin liquidez es uno de los problemas más comunes, tampoco es recomendable entrar en una sola operación con todo tu dinero. 
            Con este nivel serás capaz de gestionar correctamente tu capital.</p>

        

            <div class="quelograras">
                <h4> Que lograras en este curso?</h4> <br>
                <ul>
                    <li><i class="fas fa-check"></i> Aprenderás dividir y gestionar de manera correcta el capital de tus inversiones.
                    </li> <br>

                    <li><i class="fas fa-check"></i> Serás capaz de desarrollar una buena gestión de riesgo para cada operación.</li><br>

                    <li><i class="fas fa-check"></i>Serás capaz de identificar cuando es recomendable cerrar operaciones o salir de un proyecto para no quedarte sin liquidez.</li><br>
                    
                    

                    
                    
                </ul>
            </div>
            <div class="contenidos bg-black">
                <div class="temario">
                    <h4 class="text-white text-center">Temario</h4>
                    <ul class="p-0">


                        <div class="accordion accordion-flush" id="accordionFlushExample">

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                        <li><i class="fas fa-check-circle"> </i>Diversificación de capital </li>
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">

                                        <ul>
                                            <i class="fas fa-angle-right"></i> Introducción al trading. <br> <br>
                                            <i class="fas fa-angle-right"></i> Sentimientos en el trading.
                                        </ul>

                                    </div>
                                </div>
                            </div>





                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                        <li><i class="fas fa-check-circle"></i>Gestión de riesgo</li>
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">

                                        <ul>
                                            <i class="fas fa-angle-right"></i> Análisis fundamental vs Análisis técnico. <br> <br>

                                            <i class="fas fa-angle-right"></i> Velas Japonesas. <br> <br>

                                            <i class="fas fa-angle-right"></i> Vela Doji - Martillo. <br> <br>

                                            <i class="fas fa-angle-right"></i> Soportes y Resistencias. <br> <br>

                                            <i class="fas fa-angle-right"></i> Canales de Tendencia. <br> <br>

                                            <i class="fas fa-angle-right"></i> Retroceso Fibonacci. <br> <br>


                                        </ul>

                                    </div>
                                </div>
                            </div>







                            
                        </div>
                    </ul>
                </div>
            </div>



            <div class="beneficios">
                <h3>Beneficios Extra</h3>
                <p>Toda nuestra experiencia recopilada en clases sencillas de aprender y ejecutar</p>

                <div class="displayflex1">
                    <img src="../img/icono11.png" alt="">
                    <div class="texto">
                        <h4>Asesorias Ilimitadas</h4>
                        <p>Aclara tus dudas con nuestra asesoria ilimitada y en vivo por parte de nuestros instructores,
                            llamadas, videoconferencia, whatsapp...</p>
                    </div>
                </div>
                <div class="displayflex2">
                    <div class="texto">
                        <h4>Acceso Online</h4>
                        <p>Accede al curso de forma perpetua, actualizaciones de contenido y clases especiales para
                            mejorar tu nogocio...</p>
                    </div>
                    <img src="../img/icono12.png" alt="">
                </div>
                <div class="displayflex3">
                    <img src="../img/icono13.png" alt="">
                    <div class="texto">
                        <h4>Talleres VIP</h4>
                        <p>Recibe promociones para participar en nuestros talleres exclusivos solo para nuestros
                            clientes interesados en innovar...</p>
                    </div>
                </div>
                <div class="displayflex4">
                    <div class="texto">
                        <h4>Experiencia</h4>
                        <p>Son mas de 6 a&ntilde;os de experiencia que te ayudaran a trabajar de forma correcta evitando
                            riesgos que la falta de experiencia te dejaran..</p>
                    </div>
                    <img src="../img/icono14.png" alt="">
                </div>
            </div>

            <div class="testimonios">
                <h3>¿Que Esperas?</h3>
                
            </div>

            <div class="queesperas">
                
                <div class="puntos">
                    <ul>
                        <li><i class="fab fa-bitcoin"></i> Facilidad de Pago</li> <br>
                        <li><i class="fas fa-battery-full"></i> Acesso ilimitado</li> <br>
                        <li><i class="fas fa-circle"></i> Totalmente practico.</li><br>
                        <li><i class="fas fa-phone-volume"></i> Videollamada previa en caso de ser necesario. </li> <br>
                    </ul>
                </div>
                <div class="text-center letra "> 
                        <a href="https://wa.me/message/TPZZ36SKBAC5J1" target="_blank"   class="btn btn-success text-center p-3 target="_blank""><i class="fab fa-whatsapp"></i> Contactar por Whatsapp</a>
                </div>
            </div>

            <!-- <h2>Proximos Niveles</h2> -->
            <div class="tarjetas">





            </div>


        </div>

        <div class="compra" id="sticky">
            <div class="anchura">
                <!-- <img src="img/marketing.jpg" class="img-compra"></a> -->

                <div class="compra-titulo">
                    <div class="title">
                        <h4><span style="color:#003878">USD</span> $20</h4>
                        <a href="../compranvl3" class=""><strong>COMPRAR AHORA</strong></a>
                    </div>
                </div>

                <div class="descripcion">
                    <h5>Esta informacion incluye</h5>
                    <ul>
                        <li><i class="fas fa-circle"></i> Facilidad de Pago</li> 
                        <li><i class="fas fa-circle"></i> Acesso ilimitado</li> 
                        <li><i class="fas fa-circle"></i> Totalmente practico</li> 
                        <li><i class="fas fa-circle"></i> Videollamada previa en caso de ser necesario. </li>
                    </ul>
                    <div class="text-center letra "> 
                        <a href="https://wa.me/message/TPZZ36SKBAC5J1" target="_blank"   class="btn btn-success text-center target="_blank""><i class="fab fa-whatsapp"></i> Contactar por Whatsapp</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="botom-final">
    <div class="botom-titulo">
        <div class="botom-interno">
            <h4><span style="color:#003878">USD</span> $20</h4>
            <a href="../compranvl3"><strong>COMPRAR AHORA</strong></a>
        </div>
    </div>
</section>
<section class="blanco">

</section>


<div class="scroll">
    <a href="#menu" class="scroll-cta" id="subir"><i class="fas fa-chevron-up"></i></a>
</div>

<!-- Script arrastrar ventana modal  ¨baja el valor del  curso pegajoso¨ -->
<script src="../js/sticky.js"></script>

<!-- scrip para slider  ¨se mueve de manera horizontal la franja gris¨ -->
<script src="../js/slider.js"></script>

<!-- scripts -->
<script src="../js/particles.js"></script>
<script src="../js/appparticles.js"></script>