{{>navbar}}
<link rel="stylesheet" href="css/marketing.css">
<link rel="stylesheet" href="style.css">
<div class="container-fluid bg-black py-4  ">
    
    
    <div class="container pb-5">
        <div class="row mx-1 ">
            <div class="col-lg-6 text-white">
                 <h2 class="display-1 oferta"><strong>OFERTA </h2>
                 <h2 class="display-1 oferta">EXCLUSIVA </strong></h2> <br>
                 
                 <h3 class=" display-1 oferta35 text-danger  "style="line-height:2.3rem;" >40%</h3>
                 <h4 class=" text-danger">de descuento</h4>
                <h3>Accede al paquete completo</h3>
                <ul>
                    <li><i class="fas fa-angle-right"></i> Acceso a los niveles del curso.</li>
                    <li><i class="fas fa-angle-right"></i> Asesoria ilimitada.</li>
                    <li><i class="fas fa-angle-right"></i> Acceso gratuito a las actualizaciones.</li>
                    <li><i class="fas fa-angle-right"></i> Membresia por 30 dias al grupo de señales.</li>
                </ul>
                
                <h4>Antes<s> 140 USD</s></h4>
                <h2 class="btn btn-warning letra"><strong>Ahora 99.99 USD</strong></h2>
                
                
            </div>
            <div class="col-lg-6">
                <p class="text-center text-white letra">La oferta culmina en:</p>
                <div id="cuenta" class="mx-auto"></div>
               <img src="img/oferta.png" class="img-fluid mx-auto my-3" />
               
            </div>
        </div>
    </div>
</div>

<section class="container-fluid pt-2 bg-light">
    
    
    
    
<div class="container pb-1">
    <div class="row mx-1 ">
        
        <div class="col-lg-6 text-black text-center mt-4">
              <h4 class="text-center  letra"><strong> Corre a nuestro Bot en Telegram busca la opcion de Regalo y aprovecha esta SUPER OFERTA por tiempo Limitado</strong></h4>  
              <a href="https://t.me/criptoaprendebot"target="_blank" class="btn btn-danger btn-block px-5 letra " ><strong>Ir al Bot</strong></a>
        </div>
            
        <div class="col-lg-6">
               <img src="img/telegram_bot2.jpg" class="img-fluid mt-3" style="height: 600px;" />
        </div>
    </div>

    
    <h4 class="mt-5 letra "><strong>Tutorial para pagos con el bot de Cripto Aprende</strong></h4>
     <p>¿No sabes como realizar el pago? aca te enseñamos:</p> 
            
    <div class="video mx-auto mb-3 ">
        <iframe class="resolucion-video " src="https://www.youtube.com/embed/CSv7O7Mx9PI"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div> 
          
        <div class="container">
            <div class="row">
                <div class="col-lg-6 px-0">
                    <ul>
                        <li><i class="fas fa-check" style="color:#ff6a0c;"></i> Inicia el chat haciendo clic en Start. </li><br>
                        <li><i class="fas fa-check" style="color:#ff6a0c;"></i> Selecciona la suscripción de tu preferencia. </li><br>
                        <li><i class="fas fa-check" style="color:#ff6a0c;"></i> Obtén la billetera de depósito haciendo clic en la opción <strong>USDT.BEP20</strong> (Tether USD(BSC Chain)).</li><br>
                        <li><i class="fas fa-check" style="color:#ff6a0c;"></i> Lee detenidamente que sea una billetera <strong>USDT.BEP20</strong> ya que no somos responsable de las equivocaciones de los usuarios. </li><br>
                        <li><i class="fas fa-check" style="color:#ff6a0c;"></i> Copia la billetera o puedes escanear el código QR.. </li><br>
                        <li><i class="fas fa-check" style="color:#ff6a0c;"></i> Envía la cantidad que indique el Bot, tras comisiones, si el Bot le indica<strong> 19.99 </strong> USDT usted debe sumar la comisión de Binance, en este caso de <strong>0.80</strong> usdt
                        <span class="bg-warning">. En la opción de Binance <strong>CANTIDAD A RECIBIR debe reflejarse la cantidad indicada por el Bot, </strong></span> como se aprecia en el video tutorial o la imagen a continuacion: </li>
                        
                        <div class="d-flex justify-content-center">
                            <img src="img/tuto.jpg" alt="" style="height: 500px;" class="mx-auto my-4">
                        </div>
                        
                    </ul>
                </div>
                
                <div class="col-lg-6 px-0">
                  <ul>
                    
                    <li><i class="fas fa-check" style="color:#ff6a0c;"></i> En la opción Estado de transacción puedes revisar el estatus de tu transferencia. </li><br>
                    <li><i class="fas fa-check" style="color:#ff6a0c;"></i> Espera unos minutos luego de tu pago, el bot te enviara un link para entrar al grupo. </li><br>
                    <li><i class="fas fa-check" style="color:#ff6a0c;"></i> Fija el chat y coloca un tono exclusivo para que no te pierdas ninguna señal. </li> 
                    
                  </ul>
                  
                    <div class="flex2">
                        <img src="img/bot.png" alt="">
                    </div>
                </div>
            </div>
        </div>
</div>






<!-- DESCRIPCION DE NIVELES  -->


<div class="container-fluid bg-white pt-5">
    <div class="container">
        <div class="text-center text-black py-2">
            <h2 class="mt-1"><strong>Nuestros Clientes</strong></h2>
        </div>
    
        
        <p>Tú también puedes generar ingresos con Trading como nuestros clientes, sus testimonios son base para nuestro servicio.
        Hacer trading en grupo es muy positivo porque sabes que no lo estás haciendo solo.</p>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5  border-0">
                    <img src="img/senales1.png" class="img-fluid" style="height: 500px;" />

                    <div class="card-body">
                        <div class="card-title text-center">
                            <h4>¡Análisis del Mercado!</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 ">
                <div class="card mb-5 border-0">
                    <img src="img/senales2.png" class="img-fluid" style="height: 500px;" />

                    <div class="card-body">
                        <div class="card-title text-center">
                            <h4>¡Invierte en Criptos!</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5 border-0">
                    <img src="img/senales3.png" class="img-fluid" style="height: 500px;" />

                    <div class="card-body">
                        <div class="card-title text-center">
                            <h4>¡Distribuye!</h4>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    
    
   <div class="container-sm  pb-5">
        <div class="row ">
            <div class="col  text-center mx-auto">
                <a href="https://t.me/criptoaprendebot"target="_blank" class="btn btn-danger btn-block px-5 py-3 " >Acceder</a>
            </div>
            <div class="text-center letra mt-4 "> 
                        <a href="https://wa.me/message/TPZZ36SKBAC5J1" target="_blank"   class="btn btn-success text-center p-3 target="_blank""><i class="fab fa-whatsapp"></i> Contactar por Whatsapp</a>
            </div>
        </div>
    </div>                       


	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="js/simplyCountdown.min.js"></script>
	<script src="js/countdown.js"></script>               
    