<div class="container">


    <div class=" d-flex justify-content-center">
        <img class="" src="img/logoeduaprende.png" alt="" style="width: 200px;">
    </div>


    <div class="textos">
        <div class="texto1">
            <h2 class="text-center fw-bold"> <span style="color: rgb(14, 14, 145);">!ENHORABUENA!</span> Estamos
                Verificando
                tu Pago
            </h2>
        </div>



        <div class="text-center">
            <p>En el transcurso del dia te enviaremos un whatsapp con la confirmacion de tu registro.</p>
        </div>
    </div>

    <div class="container bg-black text-white rounded p-5 mb-4  ">
        <div class="section1">
            <p class="text-center">¿Y AHORA QUE HAGO? </p>
        </div>
        <div class="section2">
            <i class="far fa-check-square"></i> Siguenos para que puedas recibir informacion en tiempo real
            @edu_aprende75 <br> <br>

            <i class="far fa-check-square"></i>Agenda la fecha del curso a tu calendario <br> <br>

            <i class="far fa-check-square"></i> Una vez te contactemos por whatsapp agreganos para que puedas ver
            informacion en tiempo real
        </div>
    </div>
</div>