<div class="container-fluid bg-white py-3">
    <a class="navbar-brand ms-3 " href="#"><img src="/img/50.png" alt="" width="120"></a>
</div>



<div class="container-fluid bg-black pt-4">
    <div class="container-md">
      <div class="row  text-white">
        
        <p class="text-center">TALLER GRATUITO EN VIVO </p>
        <p class="text-center" >Jueves, 20 de Enero 7:00 PM (HORA VENEZUELA)</p>
        
         <h3 class="text-center"  style="color:#f87523;"><i><b>APALANCAMIENTO DE CRIPTOMONEDAS</i></b></h3>
                   <!-- <p>Disminuye los riesgos y aumenta tus posibilidades de generar ingresos de forma correcta.</p> -->
        
        <div class="container-sm col-md d-flex ">
         
    
          
        <div class="">
            <div class="">
                
            </div>
    
            <div class="">
                <div class="contenedor5">
    
                     <p class="aprenderas"> APRENDERAS SOBRE :</p>
                    
                    <div class="contenedor6">
                        <i class="fas fa-check-circle"></i> Que es Apalancamiento. <br>
                        <i class="fas fa-check-circle"></i> Como funciona el exchange cuando apalancas. <br>
                        <i class="fas fa-check-circle"></i> Liquidaciones. <br>
                        <i class="fas fa-check-circle"></i> Ganancias. <br>
                        <i class="fas fa-check-circle"></i> Estrategia de inversion. <br>
                        <i class="fas fa-check-circle"></i> ¿Me puedo hacer millonario apalancando? <br>
                    </div>
                
                </div>
            </div>
        </div> 
        </div>
       
        <div class="col">
           <div class="card-body  ">
                    <h4 class="text-center">Registrate</h4>
                    <form action="/add" method="POST">
                        <div class="mb-3">
                            <input type="text" name="nombre" class="form-control " placeholder="Nombre"  required>
                        </div>
    
                        <div class="mb-3 text-black">
                            <input id="phone" name="phone" type="tel" placeholder="" class="form-control" required>
                            <span id="valid-msg" class="hide"></span>
                            <span id="error-msg" class="hide"></span>
                        </div>
    
                        <div class="mb-3">
                            <input type="email" name="correo" class="form-control " placeholder="Correo " required>
                        </div>
                        
                        <select name="seleccion" class="form-select mb-3" aria-label="Default select example" required>
                            <option value="Taller Apalancamiento">Taller Apalancamiento</option>
                        </select>
    
    
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="" id="exampleCheck1" required>
                            <label class="form-check-label" for="exampleCheck1">Acepto los Terminos</label>
                        </div>
    
                        <div class="mb-3">
                            <button class="btn btn-danger btn-block px-5" type="submit">
                                Enviar
                            </button>
                        </div>
    
                    </form>
                </div>
        </div>
        
         <div class="parrafo">
          <P class="text-center">No inviertas en Trading si no tienes conocimientos. . . <i class="fas fa-arrow-circle-right"></i> Registrate Gratis </P> 
        </div>
        
      </div>
      </div>
    </div>
</div>    