{{>navbar}}




<link rel="stylesheet" href="css/marketing.css">




<section class=" py-5 bg-black "  > 
    <h2 class="text-center text-white display-3"><strong> GRUPO DE <span style="color:#ff6a0c"><strong> SEÑALES</strong><span></strong> </h2>
    <div class="bloque1">
        <!-- particles.js container -->
        <div id="particles-js"></div>
    
            <div class="flex2">
                <img src="img/bot.png" alt="">
            </div>
        
            <div class="flex1">
                <div class="titulo-negocioremesas">
                    <h2 class="text-start">Membresia VIP por 30 dias</h2>
                </div>
                <ul class="">
                    
                        <li>• Acceso a todas nuestras entradas en telegram con sus patrones en grafica.</li> 
                        <li>• Acceso a Mini clases.</li> 
                        <li>• Explicacion de las entradas y movimiento importante de BTC.</li>
                        <li>• Llamada grupal en caso de que el mercado lo amerite.</li>
                    
                </ul>
                
                
                <div class="container">
                    <div class="row ">
                        <div class="col text-end">
                            <h3>20.00 Usd</h3>
                        </div>
                        <div class="col">
                            <a href="https://t.me/criptoaprendebot"target="_blank" class="btn btn-danger btn-block px-5" >Acceder</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
    
    <div class="text-center letra "> 
        <a href="https://wa.me/message/TPZZ36SKBAC5J1" target="_blank"   class="btn btn-success text-center p-3 target="_blank""><i class="fab fa-whatsapp"></i> Contactar por Whatsapp</a>
    </div>

</section>

<section class="container-fluid pt-2 bg-light">
    
    <div class="container bg-light">
        
        <h2 class="text-center my-5 "><strong>Tutorial para pagos con el bot de Cripto Aprende</strong></h2>
        
       
            
        <div class="video mx-auto mb-3 ">
                        <iframe class="resolucion-video " src="https://www.youtube.com/embed/CSv7O7Mx9PI"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
        </div> 
          
        <div class="container">
            <div class="row">
                <div class="col-lg-6 px-0">
                    <ul>
                        <li><i class="fas fa-check" style="color:#ff6a0c;"></i> Inicia el chat haciendo clic en Start. </li><br>
                        <li><i class="fas fa-check" style="color:#ff6a0c;"></i> Selecciona la suscripción de tu preferencia. </li><br>
                        <li><i class="fas fa-check" style="color:#ff6a0c;"></i> Obtén la billetera de depósito haciendo clic en la opción <strong>USDT.BEP20</strong> (Tether USD(BSC Chain)).</li><br>
                        <li><i class="fas fa-check" style="color:#ff6a0c;"></i> Lee detenidamente que sea una billetera <strong>USDT.BEP20</strong> ya que no somos responsable de las equivocaciones de los usuarios. </li><br>
                        <li><i class="fas fa-check" style="color:#ff6a0c;"></i> Copia la billetera o puedes escanear el código QR.. </li><br>
                        <li><i class="fas fa-check" style="color:#ff6a0c;"></i> Envía la cantidad que indique el Bot, tras comisiones, si el Bot le indica<strong> 19.99 </strong> USDT usted debe sumar la comisión de Binance, en este caso de <strong>0.80</strong> usdt
                        <span class="bg-warning">. En la opción de Binance <strong>CANTIDAD A RECIBIR debe reflejarse la cantidad indicada por el Bot, </strong></span> como se aprecia en el video tutorial o la imagen a continuacion: </li>
                        
                        <div class="d-flex justify-content-center">
                            <img src="img/tuto.jpg" alt="" style="height: 500px;" class="mx-auto my-4">
                        </div>
                        
                    </ul>
                </div>
                
                <div class="col-lg-6 px-0">
                  <ul>
                    
                    <li><i class="fas fa-check" style="color:#ff6a0c;"></i> En la opción Estado de transacción puedes revisar el estatus de tu transferencia. </li><br>
                    <li><i class="fas fa-check" style="color:#ff6a0c;"></i> Espera unos minutos luego de tu pago, el bot te enviara un link para entrar al grupo. </li><br>
                    <li><i class="fas fa-check" style="color:#ff6a0c;"></i> Fija el chat y coloca un tono exclusivo para que no te pierdas ninguna señal. </li> 
                    
                  </ul>
                  
                    <div class="flex2">
                        <img src="img/bot.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<!-- DESCRIPCION DE NIVELES  -->


<div class="container-fluid bg-white pt-5">
    <div class="container">
        <div class="text-center text-black py-2">
            <h2 class="mt-1"><strong>Nuestros Clientes</strong></h2>
        </div>
    
        
        <p>Tú también puedes generar ingresos con Trading como nuestros clientes, sus testimonios son base para nuestro servicio.
        Hacer trading en grupo es muy positivo porque sabes que no lo estás haciendo solo.</p>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5  border-0">
                    <img src="img/senales1.png" class="img-fluid" style="height: 500px;" />

                    <div class="card-body">
                        <div class="card-title text-center">
                            <h4>¡Análisis del Mercado!</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 ">
                <div class="card mb-5 border-0">
                    <img src="img/senales2.png" class="img-fluid" style="height: 500px;" />

                    <div class="card-body">
                        <div class="card-title text-center">
                            <h4>¡Invierte en Criptos!</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5 border-0">
                    <img src="img/senales3.png" class="img-fluid" style="height: 500px;" />

                    <div class="card-body">
                        <div class="card-title text-center">
                            <h4>¡Distribuye!</h4>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    
    
    <div class="container-sm  pb-5">
        <div class="row ">
            <div class="col  text-center mx-auto">
                <a href="https://t.me/criptoaprendebot"target="_blank" class="btn btn-danger btn-block px-5 py-3 " >Acceder</a>
            </div>
            <div class="text-center letra mt-4 "> 
                        <a href="https://wa.me/message/TPZZ36SKBAC5J1" target="_blank"   class="btn btn-success text-center p-3 target="_blank""><i class="fab fa-whatsapp"></i> Contactar por Whatsapp</a>
            </div>
        </div>
    </div>                      
                        
    
    
