{{!-- {{>navbar}} --}}

<h2 class=" mt-5 text-center  "><strong>¿Tienes Dudas?</strong></h2>

<div class="container px-0 pb-3 mb-5 " style="background-color: #f2f2f2;">
    <div class="contenedor-texto">
        <div class="textos">

            <h3 class="bg-black text-white  text-center px-2 ps-sm-5   py-3 text-sm-start">Estamos a tu disposicion para
                lo que necesites</h2>
                <p class="ps-4 ">Si necesitas ayuda con algún curso o quieres contactarnos para una solicitar
                    información
                    sobre nuestras formaciones…</p>

        </div>
    </div>
    <div class="formularios border-1">
        <form action="" class="px-5">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre Completo</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Tu mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-danger btn-block px-5" type="submit">
                    Enviar
                </button>
            </div>


        </form>
        <div class="text-center">
            <strong>¡Nuestras puertas están abiertas!</strong>
            <p>Lunes - Viernes: 8 am - 5 pm (VEN) <br> Correo: eduenvio@gmail.com <br> Teléfono: +507 65246747</p>
            <div class="text-center letra ">
                <a href="https://wa.me/message/TPZZ36SKBAC5J1" target="_blank"
                    class="btn btn-success text-center p-3 target=" _blank""><i class="fab fa-whatsapp"></i> Contactar
                    por Whatsapp</a>
            </div>

        </div>

    </div>



</div>