{{!-- {{>navbar}} --}}

<link rel="stylesheet" href="css/marketing.css">

<section class="bloque1 pt-5 bg-black">
  <!-- particles.js container -->
  <div id="particles-js"></div>



  <div class="flex1">
    <div class="titulo-negocioremesas">
      <h2 class="text-center">Aprende sobre Criptomonedas </h2>

      <div class="animacion  text-center ">
        <ul>
          <li>SEÑALES </li>
          <li>TRADING</li>
          <li>REMESAS </li>
        </ul>
      </div>

      <p class=" letra"> ¿Estás listo para entender cómo funciona el mercado cripto? No operes con emociones.
        Aprende las estrategias y disciplínate para ser rentable en este mundo.</p>
    </div>
  </div>

  <div class="flex2">
    <img src="img/47.png" alt="">
  </div>

</section>

<div class="container-fluid bg-black">
  <div class="container">
    <p class="pt-3 text-md-center text-white letra"><b>¿Deseas participar en nuestros talleres y señales gratuitas ?
      </b> solo debes registrarte y obtendras acceso a la sala. </hp>
    <div class=" mx-auto pb-5" style="max-width:1000px;">



      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <h5>Registrate aquí.</h5>
      </button>

      <!-- Modal -->
      <div class="modal fade text-black" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header bg-dark">
              <h5 class="modal-title text-white mx-auto" id="exampleModalLabel">Registrate y Participa
              </h5>
              <button type="button" class="btn-close color-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              <div class="card-body ">
                <form action="/add" method="POST">

                  <div class="mb-3">
                    <input type="text" name="nombre" class="form-control " placeholder="Nombre" required>
                  </div>

                  <div class="mb-3 text-black">
                    <input id="phone" name="phone" type="tel" placeholder="" class="form-control" required>
                    <span id="valid-msg" class="hide"></span>
                    <span id="error-msg" class="hide"></span>
                  </div>

                  <div class="mb-3">
                    <input type="email" name="correo" class="form-control " placeholder="Correo " required>
                  </div>



                  <select name="seleccion" class="form-select mb-3" aria-label="Default select example" required>
                    <option disabled selected>Curso de Interes?</option>
                    <option value="Marketing">1. Marketing</option>
                    <option value="Paginas Web">2. Paginas Web</option>

                  </select>

                  <div class="mb-3 form-check">
                    <input type="checkbox" class="" id="exampleCheck1" required>
                    <label class="form-check-label" for="exampleCheck1">Acepto los Terminos</label>
                  </div>

                  <div class="mb-3">
                    <button class="btn btn-danger btn-block px-5" type="submit">
                      Enviar
                    </button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>



























      {{!--<div class="card text-dark bg-light ">

        <div class="card-header bg-black text-light ">
          <h3 class="text-center " style="color:#f87523;">Registrate</h3>
        </div>

        <div class="card-body ">


          <form action="/add" method="POST">

            <div class="mb-3">
              <input type="text" name="nombre" class="form-control " placeholder="Nombre" required>
            </div>

            <div class="mb-3 text-black">
              <input id="phone" name="phone" type="tel" placeholder="" class="form-control" required>
              <span id="valid-msg" class="hide"></span>
              <span id="error-msg" class="hide"></span>
            </div>

            <div class="mb-3">
              <input type="email" name="correo" class="form-control " placeholder="Correo " required>
            </div>



            <select name="seleccion" class="form-select mb-3" aria-label="Default select example" required>
              <option disabled selected>Curso de Interes?</option>
              <option value="Marketing">1. Marketing</option>
              <option value="Paginas Web">2. Paginas Web</option>

            </select>

            <div class="mb-3 form-check">
              <input type="checkbox" class="" id="exampleCheck1" required>
              <label class="form-check-label" for="exampleCheck1">Acepto los Terminos</label>
            </div>

            <div class="mb-3">
              <button class="btn btn-danger btn-block px-5" type="submit">
                Enviar
              </button>
            </div>

          </form>

        </div>
      </div> --}}
    </div>
  </div>
</div>







{{>servicios}}

{{>traderssenales}}